<div class="modal fade" id="myModal" role="dialog"
   ng-controller="toDoCtrl as tdctl" style="background-color: rgba(138, 137, 136, 0.3) !important">
   <div class="modal-dialog">
   
      <div class="modal-content" style="margin-top: 180px;text-align: -webkit-auto;background-color:{{todo.color}};">
         <div class="modal-header" style="border: none;">
            <div id="title{{todo.id}}" contenteditable="true" >
              
               <h3 ng-bind-html="todo.title"></h3>
            </div>
         </div>
         <div class="descpop" id="description{{todo.id}}" contenteditable="true"
           >
            <div ng-bind-html="todo.toDoItemDescription " ></div>
         </div>
   
         <span>
               <button data-toggle="dropdown" style="border: none;"
                  class="dropdown-toggle btnedit"type="button" >
               <img src="https://maxcdn.icons8.com/windows8/PNG/26/Hands/reminder-26.png" 
                  style="background-color:rgba(255, 255, 255, 0) !important;width: 20px">
               </button>
               <div class="dropdown-menu"style="margin-left: 10px; min-width: 255px; top: 95%;
                  padding: 5px; line-height: 2.5">
                  <div>Reminder:</div>
               
                  <div data-ng-click="tdctl.doReminder(todo.id,$index,'Today')">
                     <span>Later today</span>
                     <span style="float: right; padding-right: 10px">20:00</span>
                  </div>
                  <div data-ng-click="tdctl.doReminder(todo.id,$index,'Tomorrow')">
                     <span>Tomorrow</span>
                     <span style="float: right; padding-right: 10px">08:00</span>
                  </div>
                  <div data-ng-click="tdctl.doReminder(todo.id,$index,'Next-Week')">
                     <span>Next Week</span>
                     <span style="float: right; padding-right: 10px">08:00</span>
                  </div>
                  <div>
                     <span>Home</span>
                     <span style="float: right; padding-right: 10px"></span>
                  </div>
                  <div>
                     <span class="glyphicon glyphicon-time"></span>
                     <span style="margin-left: 15px">Select Date and Time</span>
                  </div>
               </div>
            </span>
            <span>
               <button data-toggle="dropdown" id="d"
                  style="border: none;"class=" dropdown-toggle btnedit" type="button" >
               <i class="glyphicon glyphicon-option-vertical"></i>
               </button>
               <div class="dropdown-menu"style="margin-left: 50px; min-width: 150px; 
                  top: 95%; padding: 5px; line-height: 2.5">
                  <div data-ng-click="tdctl.deleteTask(todo.id)">
                     <span>Delete note</span>
                  </div>
                  <div data-ng-click="">
                     <span>Add label</span>
                  </div>
                  <div data-ng-click="copyItem(todo)">
                     <span>Make a copy</span>
                  </div>
                  <div>
                     <span>Copy to Google Docs</span>
                  </div>
               </div>
            </span>
            <span class="dropup">
               <button
                  data-ng-style="cardColor" class="dropdown-toggle btnedit"
                  type="button" data-toggle="dropdown">
               <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Editing/paint_palette-24.png" 
                  style="background-color: rgba(255, 255, 255, 0)!important" width="20" height="20">
               </button>
               <div id="test" style="width: auto;" class="dropdown-menu"
                  role="menu" aria-labelledby="menu1">
                  <ul class="ul" style="padding-left: 20px">
                     <li>
                        <div data-ng-click="changePopUpCardColor('White',$event,todo.id)"
                           style="background-color: transparent;" class="test1"></div>
                        <div data-ng-click="changePopUpCardColor('#ff6666',$event,todo.id)"
                           style="background-color: #ff6666;" class="test1"></div>
                        <div data-ng-click="changePopUpCardColor('#ffa366',$event,todo.id)"
                           style="background-color: #ffa366;" class="test1"></div>
                     </li>
              
                     <li>
                        <div data-ng-click="changePopUpCardColor('#bfbfbf',$event,todo.id)"
                           style="background-color: #bfbfbf;" class="test1"></div>
                        <div data-ng-click="changePopUpCardColor('#99d6ff',$event,todo.id)"
                           style="background-color: #99d6ff;" class="test1"></div>
                        <div data-ng-click="changePopUpCardColor('#ccffb3',$event,todo.id)"
                           style="background-color: #ccffb3;" class="test1"></div>
                     </li>
                  </ul>
               </div>
            </span>
         <div class="rem">
            <label>Reminder:</label>{{ todo.reminder | date }}
         </div>
         <div class="updateDiv">
            <span style="padding-top: 35px">
            <span class="glyphicon glyphicon-time"></span>
            <span style="margin-left: 5px; color: graytext;">Created On:</span>
            <span style="color: graytext">{{ todo.toDoCreatedDate | date }}</span>
            </span>	
            
            <span><button type="button" class="btn btn-default" data-dismiss="modal"style="background-color: rgba(255, 255, 255, 0);;padding:5px;border: 0px white;"
               ng-click="tdctl.update(todo.id,index,todo)">Done</button></span>
         </div>
      </div>
      <!-- <div class="modal-footer">
         </div> -->
   </div>
</div>
