<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ToDo Application</a>
		</div>
		<!-- <div class="col-xs-6" style="width: 85%;">
			<div class="row">
				<div class="col-xs-7" style="margin-top: 8px;">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <input type="search" class="form-control" placeholder="Search"
							ng-model="todoSearch">
					</div>
				</div>
			</div>
		</div> -->
		<div style="display: inline-block;">
			<a class="navbar-brand" data-ui-sref="signUp">SignUp</a>
		</div>
	</div>
</div>

<div class="col-md-6 col-md-offset-3">
    <form class="" name="loginForm">
        <div class="panel panel-primary" data-ng-controller="loginController as log">
            <div class="panel-heading">Login</div>
            
            <div class="panel-body">
                <div class="form-group">
                    <label>Email-Address:  </label>
                    <input type="email" data-ng-model="email" class="form-control" placeholder="email" required="" />
                </div>
                <div class="form-group">
                    <label>Password:  </label>
                    <input type="password" data-ng-model="password" class="form-control" placeholder="Password" required="" /><br>
                    <div data-ng-bind="errorMessage" style="color: red;text-align: center;"></div>
                    <button type="button" data-ng-click="log.login()" name="button" class="btn btn-primary" data-ng-disabled="loginForm.$invalid">Login</button>
               		 <div style="text-align: center;display: inline-block;"><a data-ui-sref="signUp">New User? Register Here</a></div>
                	
                </div>
       
            </div>
        </div>
    </form>
</div>
